# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode settings
.vscode/

# Environment variables or secrets
.env
*.env

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Pytest cache
.pytest_cache/

# Build outputs
build/
dist/
*.egg-info/

# MyPy and Pylint caches
.mypy_cache/
.pylint.d/

audio/*.wav
audio/

node_modules/
package-lock.json   
